[v-cloak]{
  display: none;
}
html{
  font-size: 62.5%;
}
#IotDeviceLog {
  position: relative;
  top: 0;

  .title {
    line-height: 40px;
    border-bottom: 1px solid #ececec;

    span {
      padding-left: 10px;
      border-left: 5px solid #3a9ada;
      font-size: 20px;
    }
  }
  .el-button{
    position: absolute;
    right: 0;
    top: 10%;
  }
  .IotDeviceLogMain{
    margin-top: 10px;
    background: #000;
    padding: 0 10px;
    overflow: scroll;
    height: 65vh;
    .el-col{
      //line-height: 40px;
      color: #1cb31c;
      padding:5px 0;
    }
  }
}