node_modules/
target/
application.pid
src/main/webapp/assets/js/bower-components
src/main/webapp/assets/plugins-bower
.idea
*.iml
**/*.iml
logs
**/logs
**/*.pid
**/*/*.mv.db
**/*/*.trace.db
attachments
QRCodes
QRCode_Images
QRCodeImages
**/*.log