<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
    <title>会员已购商品列表</title>
</head>
<body>
<th:block th:fragment="listBody">
    <div style="border: 1px solid #DDD">
        <table class="table table-striped" style="margin-bottom:0px;">
            <thead>
            <tr style="background-color: #F1F1F1;">
                <th width="42px"></th>
                <th class="text-s" width="100px" style="font-weight:normal;">商品货号</th>
                <th class="text-s" style="font-weight:normal;">商品名称</th>
                <th class="text-s" width="180px" style="font-weight:normal;">购买日期</th>
                <th class="text-s" width="160px" style="font-weight:normal;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="device,iterStat : ${devices}" th:if="!${#lists.isEmpty(devices)}">
                <td class="align-center text-s" th:text="${iterStat.count}">1</td>
                <td class="text-s valign-middle" th:text="${device.itemCode}">商品货号</td>
                <td class="text-s valign-middle" th:text="${device.deviceName}">商品名称</td>
                <td class="text-s valign-middle" th:text="${#calendars.format(device.purchasedDate, 'yyyy-MM-dd')}">购买日期</td>
                <td class="text-s valign-middle">
                    <button type="button" title="查看详情" class="btn btn-xs btn-default cmd-view-form" data:pp-id="${device.id}">查看</button>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(devices)}">
                <td colspan="5" class="align-center" style="height: 64px;">暂无购买商品</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>