<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/layout-grid"
      th:with="menuCode='serviceMgm'">
<head>
    <title>服务时间配置</title>
</head>
<body class="sbs">
<section layout:fragment="heading" th:remove="tag">
    <div th:replace="shop/service/listTpl::headerTitle('服务管理')"></div>
</section>
<section layout:fragment="content" th:remove="tag">
    <div th:replace="shop/service/listTpl::nav('time')"></div>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 15px;">
        <div class="padding-s">
            页面完善中...
        </div>
    </div>
</section>

</body>
<section layout:fragment="scripts" th:remove="tag">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(function () {

        })
        /*]]>*/
    </script>
</section>
</html>