<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Nav</title>
</head>
<body>
<th:block th:fragment="headerTitle(title)">
    <div>
        <div class="pull-left title" th:text="${title}">服务管理</div>
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm grid-refresh">
                <span class="fa fa-refresh"></span> 刷新
            </button>
            <!--<a href="#" class="btn btn-default btn-sm" role="button" th:href="@{/shop/partner/create}">
                添加服务商
            </a>-->
            <a href="#" class="btn btn-default btn-sm" role="button" th:href="@{/shop/service/create}">
                新增服务类目
            </a>
            <a href="#" class="btn btn-primary btn-sm" role="button" th:href="@{/shop/service/item/create}">
                新增服务项目
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</th:block>
<th:block th:fragment="nav(nav_code)">
    <ul class="nav nav-tabs margin-bottom-s" role="tablist">
        <li role="presentation" class="active" th:if="${#strings.equalsIgnoreCase('service', nav_code)}">
            <a href="#">服务类目管理</a>
        </li>
        <li role="presentation" th:if="!${#strings.equalsIgnoreCase('service', nav_code)}">
            <a href="#" th:href="@{/shop/service}">服务类目管理</a>
        </li>
        <li role="presentation" class="active" th:if="${#strings.equalsIgnoreCase('item', nav_code)}">
            <a href="#">服务项目管理</a>
        </li>
        <li role="presentation" th:if="!${#strings.equalsIgnoreCase('item', nav_code)}">
            <a href="#" th:href="@{/shop/service/item}">服务项目管理</a>
        </li>
        <!--<li role="presentation" class="active" th:if="${#strings.equalsIgnoreCase('time', nav_code)}">
            <a href="#">服务时间配置</a>
        </li>-->
        <!--<li role="presentation" th:if="!${#strings.equalsIgnoreCase('time', nav_code)}">
            <a href="#" th:href="@{/shop/service/time}">服务时间配置</a>
        </li>-->
        <li role="presentation" class="active" th:if="${#strings.equalsIgnoreCase('shopVendor', nav_code)}">
            <a href="#">服务商管理</a>
        </li>
        <li role="presentation" th:if="!${#strings.equalsIgnoreCase('shopVendor', nav_code)}">
            <a href="#" th:href="@{/shop/vendor}">服务商管理</a>
        </li>
    </ul>
</th:block>
</body>
</html>