<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<div class="padding-m">
    <h3>微信小程序之代码构建初探：如何继续使用html与css开发小程序</h3>
    微信小程序似乎会给互联网带来一场非比寻常的变革。随处可见关于小程序的文章也让我们感受到它正在刮起一阵风暴，所以呢，抽空研究研究它，还是非常有必要的，
    加上最近小程序公测，通过注册未认证的小程序，我们可以得到一个appid，下载最新的开发工具，就可以开始尝试编写一些demo了。

    但是在开发小程序的时候，由于我们比较常用的编辑器对于.wxml, .wxss后缀的文件并没有多少支持，目前我所知道的，
    除了vs code有一个叫做vs wxml的插件之外，几乎没有其他插件了，因此，没有代码补全，没有emmet支持，没有代码高亮，
    这极大的影响了开发效率，我也知道有很多来尝试小程序开发的同学为此而非常困扰。

    好在，办法总是有的。

    大家都知道大多数编辑器对于html与css的支持非常全面完善，特别是emmet插件，对于html和css来说，已经变得必不可少了。
    而微信的wxml与wxss其实与html与css差别并不大。因此，我们只需要在开发时，将代码写在html与css中，在保存时，通过构建工具，将文件的后缀名改成.wxml与.wxss即可。
    这样一来，我们就不用在内置工具中开发，不用到处找对于小程序支持良好的IDE，也不用等各位大佬出新的插件了，就用我们各自最喜欢最熟悉的编辑器就可以。
    下面我以我最熟悉的gulp为例，与大家分享一下具体如何实现。
</div>
</body>
<script type="text/javascript">
    /**
     * 对话框确定函数
     */
    function onOkFn() {
        // 返回true或其它非false对象即关闭对话框
        // 也可使用 this.close() 关闭
        // return false;
        return {
            returnMsg: "我是回调函数返回的消息"
        };
    }

    /**
     * 对话框内容加载完毕回调函数
     */
    function onLoaded() {
        //alert("对话框加载完毕");
    }
</script>
</html>