<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<th:block th:fragment="part4selectGrid">
    <div class="data-grid-container">
        <div class="data-grid-header padding-left padding-top-s">
            <div class="input-group grid-search-group">
                <input type="text" class="form-control grid-search" placeholder="输入名称/货号"/>
                <span class="input-group-btn">
                <button class="btn btn-primary btn-sm grid-search-go" type="button">搜索</button>
            </span>
            </div>
        </div>
        <table id="product4selectGrid">
            <thead>
            <tr>
                <th data-width="32px" data-identifier="true" data-column-id="id" data-visible="false"></th>
                <th data-width="160px" data-column-id="deviceType" data-formatter="productTypeFormatter">产品类型</th>
                <th data-column-id="name">产品名称</th>
                <th data-width="160px" data-column-id="itemCode">产品货号</th>
            </tr>
            </thead>
        </table>
    </div>
</th:block>
</body>
</html>