@import "../../imports";

%active{
  border-color: $cyan-2;
  color: $text_primary;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.images-item {
  cursor: pointer;
  position: relative;
  margin: 0 5px 10px 5px;
  text-align: center;
  padding: 5px 5px 0 5px;
  @include border(all);

  .image-name {
    @extend %text-wrapper;
    @include border(top);
    margin-top: 5px;
    width: 100%;
    padding: 5px 5px 0 5px;
    color: $text_second;
    font-size: 12px;
  }

  .check {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    display: none;
  }

  &:hover {
    @extend %active;

    .check{
      display: block;
    }
  }
}

.images-item.active{
  @extend %active;

  .check{
    display: block;
  }
}