<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layouts/layout-form"
      th:with="menuCode='productMgm'">
<head>
    <title>商品品牌管理</title>
</head>
<body class="sbs">
<section layout:fragment="heading" th:remove="tag">
    <div class="title">查看品牌</div>
</section>
<section layout:fragment="content" th:remove="tag">
    <form id="sbsForm" class="form-horizontal margin-top-m" data-validate="parsley" method="post" th:object="${entity}" th:action="@{/shop/product/band/}+*{confuseId}">
        <div class="form-group">
            <label class="col-sm-2 control-label required">
                <span>品牌名称</span>
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" th:value="*{name}" data-parsley-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span>品牌图片</span>
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="logoImageId" th:value="*{logoImageId}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span>品牌介绍</span>
            </label>
            <div class="col-sm-8">
                <textarea class="form-control" name="description" rows="3" th:text="*{description}" style="height: 64px;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <span>显示序号</span>
            </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="orderNo" th:value="*{orderNo}"/>
                <span class="help-block">显示序号为一个大于0的数字, 越小显示时越靠前</span>
            </div>
        </div>
        <div class="row border-top margin-top padding-top final-row">
            <div class="col-sm-10 align-right">
                <input class="btn btn-sm btn-save" style="width:81px;" type="submit" value="保存"/>
            </div>
        </div>
    </form>
</section>
</body>
<section layout:fragment="scripts" th:remove="tag">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        $(function () {

        });
        /*]]>*/
    </script>
</section>
</html>