@import "../../imports";

body{
  background-color: $page_bg;
}

.navbar-header{
  background-color: $topbar_color !important;

  .brand-logo{
    border-bottom: none !important;
  }
}

.wrapper-body {
  width: 1000px;
  margin: 50px auto;
  overflow: auto;

  .content-heading{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    border-left: 3px solid $topbar_color;
    margin: 20px 0;
    padding: 0 10px;
  }

  .panel {
    background-color: $white-1;
    @include border();
    padding: 15px;
    margin: 15px 0;
    box-shadow: none;

    .panel-title {
      font-size: 16px;
      padding: 5px 0;
      margin: 10px 0;
      @include border(bottom);
    }
  }
}

.profile{
  background: -moz-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(227,227,227,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(227,227,227,1)), color-stop(100%, rgba(242,242,242,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(227,227,227,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(227,227,227,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(227,227,227,1) 100%); /* ie10+ */
  background: linear-gradient(270deg, rgba(242,242,242,1) 0%, rgba(227,227,227,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#F2F2F2',GradientType=1 ); /* ie6-9 */

  padding: 15px;

  .profile-avatar{
    height: 90px;
    width: 110px;
    float: left;

    .img-circle{
      border: 2px solid $white-1;
    }
  }

  .profile-infos{
    height: 90px;
    padding-top: 25px;
    font-size: 18px;
  }

  .profile-actions{
    float: right;
  }
}

#btnSmsCode{
  height: 34px;
}

.topbar{
  width: 100%!important;
  background-color: #23b7e5!important;
  .brand-logo{
    padding: 0 0 0 24px!important;

    img{
      width: 32px!important;
      height: 32px!important;
      border-radius: 0!important;
    }
    span{
      padding-bottom: 0!important;
      width: auto!important;
    }
  }
}