<!-- DataGrid数据表格显示模板(vue版本) -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title layout:title-pattern="$CONTENT_TITLE">品智云</title>
    <th:block th:include="layouts/head-vue::default"/>
</head>
<body>
<div class="wrapper">
    <div th:replace="layouts/topbar::topbar"></div>
    <div th:replace="layouts/sidebar::sidebar(${menuCode})"></div>

    <div class="content-wrapper" style="padding: 15px;">
        <section layout:fragment="vue">
        </section>
    </div>
</div>
<div>
    <section layout:fragment="footer"></section>
</div>
</body>
<th:block th:include="layouts/scripts-vue::scripts"/>
<section layout:fragment="scripts">
    <!-- Javascript -->
</section>
</html>