<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE">品智云</title>
    <th:block th:include="layouts/head::default"/>
</head>
<body>
<div class="wrapper">
    <div th:replace="layouts/topbar::topbar"></div>
    <div th:replace="layouts/sidebar::sidebar(${menuCode})"></div>

    <aside class="helpbar" style="overflow-y: auto;">
        <div class="helpbar-content" style="height: auto">
            <section layout:fragment="help">帮助内容</section>
        </div>
    </aside>

    <div class="content-wrapper has-help">
        <div class="content-heading">
            <section layout:fragment="heading">page title</section>
        </div>

        <div class="content-body">
            <section layout:fragment="content">page main content</section>
        </div>
    </div>
</div>
</body>
<th:block th:include="layouts/scripts::scripts"/>
<section layout:fragment="scripts">
    <!-- Javascript -->
</section>
</html>
